pre{
	position: relative;
	overflow: none;
	
	overflow-y: scroll;
}

pre textarea{
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	line-height: 1.5;
	width: 100%;
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	border: 0;
	padding: 10;
	font-size: 16;
	background-color: transparent;
	overflow: hidden;
	outline: none;
	caret-color: red;
	resize: none;
	color: transparent;
	line-height: 1.5;
	/*color:black;*/
}
